.Dashboard {
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*     FONT STYLINGS      */

p {
  margin-top: 0;
}

.dashboard-h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 3em;
  margin: 0 0 0.7em 0;
}

/*     TOP NAVIGATION BAR       */

nav {
  background-color: #33af68;
  color: white;
  display: flex;
}
.nav-left, .nav-center, .nav-right {
  flex-basis: 33%;
}

.nav-center {
  text-align: center;
}

.nav-center-logo {
  height: 3em;
}

.nav-right {
  display: flex;
}

.nav-right * {
  margin-left: 2em;
}


/*       HERO STYLING      */
.green-underline {
  border: 2.5px solid #33af68;
  border-radius: 1px;
  width: 80px;
  margin: 3px;
}

.hero-statistics {
  display: flex;
}

.hero-statistics-left, .hero-statistics-center, .hero-statistics-right {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  background-image: url('./../../assets/login-background.png');
  color: white;
  text-align: center;

}

.hero-logo-img {
  height: 5em;
}

/*     EVENTS STYLING    */

.events {
  background-color: white;
  height: 80vh;
}

.events-header {
  padding: 1em 0;
  background-color: #33af68;
  color: white;
}

.events-header-filters {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
}

.add-event-button {
  position: absolute;
  background-color: white;
  color: #33af68;
  font-size: 1.5em;
  text-align: center;
  margin: -1vh 0 0 3vw;
}

/*   MODAL */

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(155, 155, 155, 0.8);
  z-index: 50;

  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: 40vh;
  margin-left: -30vw;
  margin-top: -20vh;
  background: #f7f7f7;
  border-radius: 1px;
  z-index: 100;

  visibility: hidden;
  opacity: 0;
  
  /* padding: 1.5em; */
  /* transition: 0.5s ease-out; */
  
  /* transform: translateY(45px); */
}

/* .active {
  visibility: visible;
  opacity: 1;
}

.active + .modal{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
} */

.close-modal {
  float: right;
  cursor: pointer;
}

.modal-container {
  width: 94%;
  margin: 0 auto;
}

.modal-visible {
  visibility: visible !important;
  opacity: 1 !important;
}