.Dashboard {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

p {
  margin-top: 0;
}

nav {
  background-color: #2ecc71;
  color: white;
  display: flex;
}
.nav-left, .nav-center, .nav-right {
  flex-basis: 33%;
}

.nav-center {
  text-align: center;
}

.nav-center-logo {
  height: 3em;
}

.nav-right {
  display: flex;
}

.nav-right * {
  margin-left: 2em;
}

.green-underline {
  border: 2.5px solid #2ecc71;
  border-radius: 1px;
  width: 80px;
  margin: 3px;
}

.hero-statistics {
  display: flex;
}

.hero-statistics-left, .hero-statistics-center, .hero-statistics-right {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  background-image: url('./../../assets/login-background.png');
  color: white;
  text-align: center;

}

.hero-logo-img {
  height: 5em;

}