:root {
  background-image: url('./../../assets/login-background.png');
  background-color: #0C0D0C;
}

.login-container {
  width: 38em;
  max-width: 335px;
  margin: 0 auto;
}


.login-logo {
  display: flex;
  justify-content: center;
  margin: 1em 0 1em;
}

.login-card {
  background-color: white;
  border-radius: 4px;
  padding: 1px;
}


.login-card-form {
  width: 80%;
  margin: 0 auto;
}

.login-header {
  color: #2ecc71;
  font-weight: 300;
  font-size: 3em;
  margin-bottom: 1em;
}

.login-label {
  margin: 0.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.login-forgot-password {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: #8a8a8a;
  margin: 1em;
}

.input-field-checkbox {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin: 1em;
}

.checkbox-label {
display: inline-block;
/* margin-top: -0.5em; */
font-size: 2.5em;
}
